# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Grade_3\rust-By-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
